@font-face {
    font-family: 'Jua';
    src: url('/font/Jua-Regular.ttf');
}



.root {
    -fx-background-color: #FFF0F5; /* 연한 핑크 배경 */
    -fx-font-family: Jua;
}

.header {
    -fx-padding: 10;
    -fx-background-color: #f8f8f8;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 0 0 1 0;
}

nameTag {
    -fx-font-style: Jua;
    -fx-background-color: #FF69B4;
    -fx-border-width: 1;
    -fx-border-radius: 10;
    -fx-border-color: black;
    -fx-border-style: solid;
}

.member-nameTag {
    -fx-font-style: Jua;
    -fx-background-color: white;
    -fx-border-width: 1;
    -fx-border-radius: 10;
    -fx-border-color: black;
    -fx-border-style: solid;
}

.cafe-name {
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.cafe-address {
    -fx-font-size: 15;
    -fx-text-fill: #666;
}

.logo {
    -fx-image: url('/image/stampee_logo.png');
}

.menu-items {
    -fx-alignment: center-right;
}

.menu-items Label {
    -fx-padding: 5 10;
    -fx-cursor: hand;
}



.info-container {
    -fx-padding: 20;
    -fx-spacing: 10;
}

.info-container Label {
    -fx-font-size: 14;
}
#dfdf {
    -fx-background-color: #FFEBD4;
}



.cafe-item {
    -fx-background-color: white;
    -fx-background-radius: 8;
    -fx-border-color: #e0e0e0;
    -fx-border-radius: 8;
    -fx-padding: 15;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 10, 0, 0, 2);
    -fx-alignment: center-left;
}



.cafe-address {
    -fx-font-size: 15;
    -fx-text-fill: #666;
}

.stamp-grid {
    -fx-background-color:#FFF0F5;
    -fx-padding: 5;
    -fx-alignment: center;
}

.share-button {
    -fx-background-color: #FFB6C1;
    -fx-text-fill: white;
    -fx-font-size: 15;
    -fx-padding: 5 10;
    -fx-background-radius: 5;
    -fx-min-width: 60;
    -fx-max-width: 60;
}