@font-face {
    font-family: 'Jua';
    src: url('/font/Jua-Regular.ttf');
}

.root {
    -fx-font-family: 'Jua';
    -fx-background-color: #FFF0F5;
}

.main-container {
    -fx-background-color: #FFF0F5;
    -fx-spacing: 15;
    -fx-padding: 0 20 0 20;
}

.logo {
    -fx-image: url('/image/stampee_logo.png');
}

.menu-items {
    -fx-alignment: center-right;
}

.menu-items Label {
    -fx-padding: 8 15;
    -fx-background-color: #FFEBD4;
    -fx-text-fill: #FF69B4;
    -fx-background-radius: 15;
    -fx-cursor: hand;
}

.stamp-container {
    -fx-background-color: #FFEBD4;
    -fx-padding: 20;
    -fx-alignment: center;
    -fx-background-radius: 15;
}

.stamp-row {
    -fx-spacing: 20;
    -fx-alignment: center;
}

.stamp {
    -fx-fit-width: 60px;
    -fx-fit-height: 60px;
    -fx-preserve-ratio: true;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.stamp.filled {
    -fx-image: url('/image/github_logo.png');
}

.stamp.empty {
    -fx-image: url('/image/github_logo_rec.png');
}


.info-container {
    -fx-padding: 20;
    -fx-spacing: 15;
    -fx-background-color: #FFEBD4;
    -fx-background-radius: 15;
}

.info-container Label {
    -fx-font-size: 16;
    -fx-text-fill: #FF69B4;
}

Text {
    -fx-fill: #FF69B4;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-bar:vertical {
    -fx-background-color: #FFEBD4;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #FF69B4;
}

.cafe-name {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.cafe-address {
    -fx-font-size: 18px;
}

.member-count {
    -fx-spacing: 5;
}

.section-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-padding: 10 0;
}

.customer-scroll-pane {
    -fx-background-color: transparent;
}

.customer-scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.customer-card {
    -fx-background-color: white;
    -fx-padding: 10;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 0);
}

.customer-name {
    -fx-font-weight: bold;
}

.customer-card Text {
    -fx-fill: #FF69B4;
}