/* Header 스타일 정의 */
@font-face {
    font-family: 'Jua';
    src: url('/font/Jua-Regular.ttf');
}

.root {
    -fx-font-family: 'Jua';
}
.header {
    -fx-background-color: #FFF0F5;
    -fx-padding: 10;
    -fx-border-color: #ffffff;
    -fx-alignment: center-left;
    -fx-border-width: 0 0 3 0;
}

.logo {
    -fx-cursor: hand;
    -fx-padding: 10px;
}

.menu-items {
    -fx-cursor: hand;
    -fx-spacing: 20px;
    -fx-alignment: center-left;
}

.accumulate-button {
    -fx-background-color: #FFB6C1;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-padding: 10 20;
    -fx-background-radius: 5;
}


.accumulate-button:hover {
    -fx-cursor: hand;
    -fx-background-color: #FF69B4;
}



