@font-face {
    font-family: 'Jua';
    src: url('/font/Jua-Regular.ttf');
}

.root {
    -fx-font-family: 'Jua';
}

.main-container {
    -fx-background-color: #FFF0F5;
    -fx-spacing: 10;
    -fx-padding: 0 20 0 20;
}

/* 버튼 스타일 정의 */
.button {
    -fx-background-color: #FFB6C1; /* 핫핑크 배경 */
    -fx-text-fill: #FFFFFF; /* 흰색 글씨 */
    -fx-font-size: 16px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #FF69B4; /* 더 진한 핫핑크 (호버 시) */
}
