.main-container {
    -fx-background-color: white;
    -fx-spacing: 10;
    -fx-padding: 0 20 0 20;
}

.header {
    -fx-padding: 10;
    -fx-background-color: #f8f8f8;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 0 0 1 0;
}

.logo {
    -fx-image: url('/image/stampee_logo.png');
}

.menu-items {
    -fx-alignment: center-right;
}

.menu-items Label {
    -fx-padding: 5 10;
    -fx-cursor: hand;
}

.stamp-container {
    -fx-background-color: #f0f0f0;
    -fx-padding: 20;
    -fx-alignment: center;
}

.stamp-row {
    -fx-spacing: 20;
    -fx-alignment: center;
}

.stamp {
    -fx-fit-width: 50px;
    -fx-fit-height: 50px;
    -fx-preserve-ratio: true;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.stamp.filled {
    -fx-image: url('/image/github_logo.png');
}

.stamp.empty {
    -fx-image: url('/image/java_logo.png');
}

#mapView {
    -fx-pref-height: 300;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 1;
}

.info-container {
    -fx-padding: 20;
    -fx-spacing: 10;
}

.info-container Label {
    -fx-font-size: 14;
}

.footer {
    -fx-padding: 10;
    -fx-background-color: #f8f8f8;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 1 0 0 0;
    -fx-alignment: center;
}

.footer-content {
    -fx-alignment: center;
}

.footer-logo {
    -fx-image: url('/image/stampee_logo.png');
}

.footer-title {
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

.footer-subtitle {
    -fx-font-size: 12;
    -fx-text-fill: #888;
}

.cafe-name {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-background-color: #F0F0F0;
    -fx-padding: 10;
    -fx-border-color: #CCCCCC;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.cafe-address {
    -fx-font-size: 14px;
    -fx-text-fill: #666666;
    -fx-background-color: #FFFFFF;
    -fx-padding: 5;
    -fx-border-color: #CCCCCC;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.info-box {
    -fx-background-color: #F5F5F5;
    -fx-padding: 10;
    -fx-border-color: #CCCCCC;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-margin: 5 0;
}

.coupon-label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #444444;
}

.section-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-margin: 10 0;
}

.signature-label {
    -fx-font-size: 16px;
    -fx-text-fill: #444444;
}
